---
import { type Props } from '../../components/Guitarra.astro'
import Comprar from '../../components/Comprar'
import type {
  Guitarras as GuitarrasI,
  Imagen
} from '../../interfaces/guitarras.interface'
import Layout from '../../layouts/Layout.astro'

export interface GuitarraActual {
  nombre: string;
  descripcion: string;
  precio: number;
  imagen: Imagen;
  id: string;
}

export async function getStaticPaths() {
  const url = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=imagen`
  const respuesta = await fetch(url)
  const { data: guitarras }: GuitarrasI = await respuesta.json()

  return guitarras.map((guitarra) => ({
    params: {
      id: guitarra.attributes.url,
    },
    props: {
      guitarra: guitarra.attributes,
      id: guitarra.id,
    },
  }))
}

const { nombre, descripcion, precio, imagen } = Astro.props.guitarra
const guitarraId = Astro.props.id

const GuitarraActual: GuitarraActual = {
  nombre, 
  descripcion,
  precio,
  imagen,
  id: guitarraId
}

---

<Layout
  title={nombre}
  description="Pagina de tienda de instrumentos musicales, guitarras, cursos, blog y mas"
>
  <main class="guitarra">
    <img src={imagen.data.attributes.url} alt={`imagen ${nombre}`} />

    <div class="contenido">
      <h3>{nombre}</h3>
      <p class="descripcion">{descripcion}</p>
      <p class="precio">${precio}</p>
      
      <Comprar
        GuitarraActual={GuitarraActual}
      />
    </div>
  </main>
</Layout>

<style>
  .guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
  }
  .contenido {
    padding: 1rem;
  }
  .contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
  }
  .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
  }
  .precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
  }
</style>
